@font-face {
  font-family: "Gram";
  src: url("/fonts/gram/Gram.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@media print {
  @page {
    size: A4 portrait;
    margin: 0.5in;
  }

  body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  .cv-container {
    width: 210mm !important;
    min-height: 297mm !important;
    max-width: none !important;
    margin: 0 !important;
    box-shadow: none !important;
    page-break-inside: avoid;
  }
  .print-break {
    page-break-before: always;
  }

  .no-print {
    display: none !important;
  }
}

@media screen and (max-width: 760px) {
  .cv-container {
    flex-direction: column !important;
  }
}

.sample4-container {
  font-family: 'Gram', sans-serif;
  margin: 0 auto;
}

.font-palatino {
  font-family: 'Times New Roman', 'Book Antiqua', Palatino, serif;
}

