@font-face {
  font-family: 'Playfair', sans-serif;
  src: url('/fonts/playfair/Playfair-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gram Local';
  src: url('/fonts/gram/Gramregular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-timesnewroman {
  font-family: 'Times New Roman', Times, serif;
}

.font-playfair {
  font-family: 'Playfair', serif;
}

.font-gram {
  font-family: 'Gram', 'Gram Fallback', Arial, sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-segoeui {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
