
@font-face {
  font-family: 'Playfair';
  src: url('/fonts/playfair/Playfair-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Playfair';
  src: url('/fonts/playfair/Playfair-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Gram';
  src: url('/fonts/gram/Gramregular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Gram';
  src: url('/fonts/gram/Grambold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Literata';
  src: url('/fonts/literata/Literata-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Literata';
  src: url('/fonts/literata/Literata-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Libre Caslon Text';
  src: url('/fonts/libreCaslon/LibreCaslonText-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Libre Caslon Text';
  src: url('/fonts/libreCaslon/LibreCaslonText-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'NTR';
  src: url('/fonts/ntr/NTR-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Euphemia';
  src: url('/fonts/euphemia/Euphemia-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Euphemia';
  src: url('/fonts/euphemia/Euphemia-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Euphemia';
  src: url('/fonts/euphemia/Euphemia-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Base rule */
[class^="font-["],
[class*=" font-["] {
  font-family: var(--font-family);
}

/* Font mappings */
.font-\[playfair\] {
  --font-family: 'Playfair', serif;
}

.font-\[gram\] {
  --font-family: 'Gram', Arial, sans-serif;
}

.font-\[literata\] {
  --font-family: 'Literata', serif;
}

.font-\[libre-caslon\] {
  --font-family: 'Libre Caslon Text', serif;
}

.font-\[times-new-roman\] {
  --font-family: "Times New Roman", Times, serif;
}

.font-\[ntr\] {
  --font-family: 'NTR', serif;
}

.font-\[euphemia\] {
  --font-family: 'Euphemia', serif;
}

.font-\[imfell\] {
  --font-family: 'IM Fell Double Pica', serif;
}